.topnav {
    overflow: hidden;
    background-color: #9867C5;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #723EA2;
    color: white;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
.search-container {
    float: left;
    margin-left: 14.5%;
    margin-right: 7%;
    width: 50%;
    color: black;
  }
  
  .topnav input[type=text] {
    padding: 7px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 70%;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
      justify-content: center;
    }
  
    .logind {
      float: none;
      right: 0;
    
      display: block;
      
    }
  
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }
  